@import "./scss/block1";
@import "./scss/block3";
@import "./scss/block2";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("annie-spratt-419269-unsplash.jpg");

  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.MainAll {
  margin: 10rem 7rem 0;
  @media only screen and (max-width: 1870px) {
    margin: 10rem 5rem 0;
  }
  @media only screen and (max-width: 1870px) {
    margin: 10rem 2rem 0;
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;

  .block1 {
    height: 35rem;
    width: 28rem;
    background-color: rgba(128, 128, 128, 0.712);
  }
  .block2 {
    width: 42rem;
    height: 35rem;
    background-color: rgba(128, 128, 128, 0.712);
  }
  .block3 {
    width: 27rem;
    height: 35rem;
    background-color: rgba(128, 128, 128, 0.712);
  }
}

.storeNutrientsForCalc {
  display: none;
}

.searchAgainErr {
  font-size: 2rem;
  color: rgb(224, 224, 224);
  display: none;
}
